:root {
  --black: #000;
  --white: #fff;
  --gray: #fafafa;
  --gray-dark: #f4f4f4;
  --purple: #7e57c2;
  --purple-dark: #4d2c91;
  --toastify-color-progress-success: #017AFF !important;
  --toastify-icon-color-success: #017AFF !important;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
